doctype html
html
    include ./styles.pug
    body
        div
            if(login)
                h1 Hi, #{login}
            else
                h1 Please, try again.
                  