head
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    style.
        body {
            color: white;
            display: flex;
            min-height: 100vh;
            justify-content: center;
            align-items: center;
            background: linear-gradient(100deg, black, grey);
        }
        .login-class {
            text-align: center;
        }
        .custom-class {
            text-align: justify;
            max-width: 380px;
        }
        input.form-control,.btn {
            padding: 10px;
            margin-top: 15px;
        }
       
    